/*------General CSS------*/
body {
    margin: 0;
}

.column {
    flex: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: grey;
}

.row {
   display: flex;
}

/*------Navbar------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

li a:hover {
    color: red;
}

/*------Main------*/
h3 {
    color: red;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

p:hover {
    color: red;
    text-decoration: underline;
}

/*------Image------*/
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

img {
    filter: blur(3px);
    border-radius: 10px;
}

.img-container {
    position: relative;
    text-align: center;
    color: white;
    padding: 30px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*------Table------*/
.table-container {
    width: 300px;
    margin: auto;
    padding: 30px
}

table {
    border-collapse: collapse;
}

th {
    background-color: black;
    color: red;
    text-align:center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

tr, td {
    border-style: solid;
    border-width: 1px;
    border-color: red;
    border-collapse: collapse;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.video-container {
    position: relative;
    text-align: center;
    color: white;
    padding: 30px;
}

.bottom-left {
    position: absolute;
    bottom: 56px;
    left: 75px;
}

/*------Footer------*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
}

.foot {
    color: white;
}

.foot:hover {
    color: red;
}